<template>
  <div class="casino">
   <h1>Welcome to the Casino</h1>
   Amount to bet (in ether and at least 1): <input type="number" v-model="amount" placeholder="0 Ether" min="1">
   <h4>Please pick a number between 1 and 10</h4>
   <ul>
    <li v-on:click="clickNumber">1</li>
    <li v-on:click="clickNumber">2</li>
    <li v-on:click="clickNumber">3</li>
    <li v-on:click="clickNumber">4</li>
    <li v-on:click="clickNumber">5</li>
    <li v-on:click="clickNumber">6</li>
    <li v-on:click="clickNumber">7</li>
    <li v-on:click="clickNumber">8</li>
    <li v-on:click="clickNumber">9</li>
    <li v-on:click="clickNumber">10</li>
  </ul>
  <img v-if="pending" id="loader" src="https://loading.io/spinners/double-ring/lg.double-ring-spinner.gif">
  <div class="event" v-if="winEvent">
    Won: {{ winEvent._status ? 'YEY !' : 'Nop, sorry'}}<br/>
    <template v-if="winEvent._status">
      Amount: {{ winEvent._amount }} Wei
    </template>
  </div>
</div>
</template>
<script>
  export default {
    name: 'casino',
    data () {
     return {
       amount: 1,
       pending: false,
       winEvent: null,
       confirmed: true,
       subscription: null
     }
   },
   mounted () {
    console.log('dispatching getContractInstance')
    this.$store.dispatch('getContractInstance')
  },
  methods: {
    clickNumber (event) {
      console.log(event.target.innerHTML, this.amount)
      this.winEvent = null
      this.pending = true

      this.$store.state.contractInstance().methods.bet(event.target.innerHTML).send({
        gas: 300000,
        value: web3.toWei(this.amount, 'ether'),
        from: this.$store.state.web3.coinbase
      }).on('transactionHash', (hash) => {
        console.log('transactionHash', hash);
        this.subscription = this.$store.state.contractInstance().events.Won()
        .on('data', (event) => {
          console.log('Won - data', event);
          this.subscription.unsubscribe();
          this.pending = false;
          this.winEvent = event.returnValues;
        })
        .on('changed', (event) => {
          // remove event from local database
          console.log('Won - data', event);
        })
        .on('error', console.error);
      })
      .on('confirmation', (confirmationNumber, receipt) => {
        console.log('confirmation', confirmationNumber, receipt);
      })
      .on('receipt', (receipt) => {
        console.log('receipt', receipt);
      });
    }
  }
}
</script>
<style scoped>
.casino {
 margin-top: 50px;
 text-align:center;
}
#loader {
 width:150px;
}
ul {
 margin: 25px;
 list-style-type: none;
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 grid-column-gap:25px;
 grid-row-gap:25px;
}
li{
 padding: 20px;
 margin-right: 5px;
 border-radius: 50%;
 cursor: pointer;
 background-color:#fff;
 border: -2px solid #bf0d9b;
 color: #bf0d9b;
 box-shadow:3px 5px #bf0d9b;
}
li:hover{
 background-color:#bf0d9b;
 color:white;
 box-shadow:0px 0px #bf0d9b;
}
li:active{
 opacity: 0.7;
}
*{
 color: #444444;
}
</style>
