<template>
  <hello-metamask/>
</template>
<script>
  import HelloMetamask from '@/components/hello-metamask'
  export default {
   name: 'casino-dapp',
   components: {
     'hello-metamask': HelloMetamask,
   },
   beforeCreate () {
    console.log('registerWeb3 Action dispatched from casino-dapp.vue')
    this.$store.dispatch('registerWeb3')
  },
}
</script>
<style scoped>
</style>
