<template>
  <div>
    <casino></casino>
    <div class='metamask-info'>
      <p v-if="isInjected" id="has-metamask"><i aria-hidden="true" class="fa fa-check"></i> Metamask installed</p>
      <p v-else id="no-metamask"><i aria-hidden="true" class="fa fa-times"></i> Metamask not found</p>
      <p>Network: {{ network }}</p>
      <p>Account: {{ coinbase }}</p>
      <p>Balance: {{ balance }} Wei </p>
    </div>
  </div>
</template>

<script>
  import Casino from '@/components/casino-component'
  import NETWORKS from '@/utils/constants/network'
  import {mapState} from 'vuex'
  export default {
    name: 'hello-metamask',
    components: {
     'casino': Casino,
   },
   computed: mapState({
    isInjected: state => state.web3.isInjected,
    network: state => NETWORKS[state.web3.networkId],
    coinbase: state => state.web3.coinbase,
    balance: state => state.web3.balance
  })
 }
</script>

<style scoped>
#has-metamask {
  color: green;
}
#no-metamask {
  color:red;
}</style>
